openapi: 3.0.1
info:
  title: Consumer Verification API Documentation
  version: 1.0.0
  description: |
    ## Getting started with REST API
    - The Datanamix REST API is used by developers to integrate with our various credit bureau services, as well as our other services, like KYC and ID verification.

    - The API is built for reliability and speed. Datanamix processes millions of API calls per month for thousands of customers, banks, and insurers.

    - Once approved, you will receive access to our API Manager and Swagger tools.

    ### Getting Access
    - To access our API systems, you need to first apply for an API account. You have the option of a prepaid account, or you can apply for a 30-day account.

    - Please click on the button below to send us your details. A consultant will get back to you within one business day with the steps you need to follow.

    - [Apply for API Access](\"https://datanamixdev.wpengine.com/contact/\")

    ### API Manager
    - Once approved, your API account details, instructions on what to do next, and user credentials will be communicated to you.

    - Use your user credentials to access the API Manager here: [API Manager](\"https://veriid.com/API_Manager/")

    - This is where you will be able to view your monthly usage, draw reports and access your credit balance.

    ### Need our help?

    - Should you need any technical assistance with our API, please log a support ticket here: [Support Ticket](\"https://pbverify.freshdesk.com/support/tickets/new/\")
    - We also offer software development and integration services. Please log a ticket above with your requirements, and a support agent will contact you.
    - Phone: +27 (0) 10 823 5194
    - E-mail: support@datanamix.com

    ```
    Datanamix is a registered Credit Bureau in terms of section 43 of the National Credit Act 34 of 2005. 
    Its data-systems, data-security and data-processing protocols are audited annually in accordance with the NCA. 
    ```
      
  termsOfService: 'https://www.datanamix.com/legal/terms-conditions/'
  contact:
    name: Support
    url: 'https://www.datanamix.com/'
    email: support@datanamix.com
  license:
    name: Proprietary License
    url: 'https://www.datanamix.com/legal/terms-conditions/'
servers:
  - url: 'https://veriid.com/PBVerify/webservice'
tags:
  - name: Home Affairs ID Verification
  - name: Family Lineage
  - name: Authentication Questions
  - name: Proof of Live - 3D Facial
  - name: Bank Account Verification
  - name: Address Verification
  - name: Know Your Customer (KYC)
  - name: Consumer Credit Reports
  - name: Express Credit Score
  - name: Affordability
  - name: Contact to ID Number
  - name: 'Phone ID, Score and SIM Swap'
  - name: AML Sanctions and PEP
paths:
  /pbverify-profile-id-verification:
    post:
      tags:
        - Home Affairs ID Verification
      summary: Offline ID verification
      description: 'The Datanamix Offline ID Verification API serves as a crucial tool for validating 13-digit South African ID numbers by tapping into Credit Bureau hosted consumer Identity services. These services are directly linked to the Department of Home Affairs (DHA) ID database, ensuring access to accurate and up-to-date identity information. One key advantage of this API is its capability to perform identity checks offline, particularly useful during instances of downtime experienced by the Department of Home Affairs (DHA).'
      operationId: profileIdVerification
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[idNumber]'
                - 'consumer_details[yourReference]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 digit ID Number
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  idProfile:
                    type: object
                    properties:
                      traceId:
                        type: string
                      idNumber:
                        type: string
                      firstNames:
                        type: string
                      surName:
                        type: string
                      dob:
                        type: string
                      age:
                        type: integer
                      gender:
                        type: string
                      citizenship:
                        type: string
                      status:
                        type: integer
                      dateOfIssue:
                        type: string
                      deathDate:
                        type: string
                      deathPlace:
                        type: string
                x-examples:
                  Example 1:
                    Status: Success
                    idProfile:
                      traceId: '10286383'
                      idNumber: '8307065125487'
                      firstNames: JUST
                      surName: GOOFY
                      dob: '1983-07-06'
                      age: 34
                      gender: Male
                      citizenship: South African
                      status: 1
                      dateOfIssue: '2001-11-13T00:00:00+02:00'
                      deathDate: '2001-11-13T00:00:00+02:00'
                      deathPlace: Your moms house
              examples:
                Example 1:
                  value:
                    Status: Success
                    idProfile:
                      traceId: '10286383'
                      idNumber: '8307065125487'
                      firstNames: JUST
                      surName: GOOFY
                      dob: '1983-07-06'
                      age: 34
                      gender: Male
                      citizenship: South African
                      status: 1
                      dateOfIssue: '2001-11-13T00:00:00+02:00'
                      deathDate: '2001-11-13T00:00:00+02:00'
                      deathPlace: ''
      x-stoplight:
        id: 6d4we9u8f4szr
  /pbverify-real-time-id-verification:
    post:
      tags:
        - Home Affairs ID Verification
      summary: Realtime ID Verification
      description: 'The Datanamix Realtime ID Verification API is specifically designed to cater to technical users, offering seamless validation of 13-digit ID numbers by conducting live checks against the Department of Home Affairs (DHA) database. This database stands as the singular authoritative source for South African consumer identity data, ensuring compliance and accuracy in Know Your Customer (KYC) verification processes. By tapping directly into the DHA database, this API provides realtime validation, minimising latency and enhancing the efficiency of identity verification procedures. Its utilisation of the DHA dataset as the golden source of identity data adds a layer of reliability and regulatory adherence to the verification process, which is crucial for businesses operating within South Africa''s compliance framework. The data is accessed via the NPR database, which includes information such as ID document type (Smart Card/ Green ID book). Marital status, Martial date, Country of birth, ID Blocked status, Deceased/Alive status/ deceased date/place and reason. '
      operationId: realTimeIdVerification
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[idNumber]'
                - 'consumer_details[yourReference]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 digit ID Number
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  realTimeResults:
                    type: object
                    properties:
                      traceId:
                        type: string
                      idNumber:
                        type: string
                      haIdno:
                        type: string
                      idnoMatchStatus:
                        type: string
                      iDBookIssuedDate:
                        type: string
                      identityDocumentType:
                        type: string
                      idCardInd:
                        type: string
                      idCardDate:
                        type: string
                      idBlocked:
                        type: string
                      firstNames:
                        type: string
                      surName:
                        type: string
                      dob:
                        type: string
                      age:
                        type: integer
                      gender:
                        type: string
                      citizenship:
                        type: string
                      countryofBirth:
                        type: string
                      deceasedStatus:
                        type: string
                      deceasedDate:
                        type: string
                      deathPlace:
                        type: string
                      causeOfDeath:
                        type: string
                      maritalStatus:
                        type: string
                      marriageDate:
                        type: string
                x-examples:
                  Example 1:
                    Status: Success
                    realTimeResults:
                      traceId: '23408771'
                      idNumber: '4907197875465'
                      haIdno: '4907197875465'
                      idnoMatchStatus: Matched
                      iDBookIssuedDate: '1994-08-01'
                      identityDocumentType: ID Book
                      idCardInd: 'No'
                      idCardDate: ''
                      idBlocked: ''
                      firstNames: JOHN
                      surName: DOE
                      dob: '1949-07-18'
                      age: 72
                      gender: Male
                      citizenship: South African
                      countryofBirth: ENGLAND
                      deceasedStatus: Deceased
                      deceasedDate: '1999-12-16'
                      deathPlace: FAR FAR AWAY
                      causeOfDeath: NATURAL CAUSES
                      maritalStatus: MARRIED
                      marriageDate: '1970-08-22'
              examples:
                Example 1:
                  value:
                    Status: Success
                    realTimeResults:
                      traceId: '23408771'
                      idNumber: '4907197875465'
                      haIdno: '4907197875465'
                      idnoMatchStatus: Matched
                      iDBookIssuedDate: '1994-08-01'
                      identityDocumentType: ID Book
                      idCardInd: 'No'
                      idCardDate: ''
                      idBlocked: ''
                      firstNames: JOHN
                      surName: DOE
                      dob: '1949-07-18'
                      age: 72
                      gender: Male
                      citizenship: South African
                      countryofBirth: ENGLAND
                      deceasedStatus: Deceased
                      deceasedDate: '1999-12-16'
                      deathPlace: FAR FAR AWAY
                      causeOfDeath: NATURAL CAUSES
                      maritalStatus: MARRIED
                      marriageDate: '1970-08-22'
      x-stoplight:
        id: 2sr4ds8m5qufq
      x-extension-1: null
  /pbverify-idv-photo:
    post:
      tags:
        - Home Affairs ID Verification
      summary: Realtime ID Photo
      description: 'The Datanamix Realtime ID Photo retrieval API is a powerful tool tailored for technical users, offering the capability to authenticate 13-digit South African Home Affairs ID numbers and retrieve the corresponding Biometric ID photo stored within the DHA database. This API provides a seamless solution for qualifying businesses, enabling them to integrate identity validation processes into their systems seamlessly. Users can retrieve crucial information, including their full name, ID number, age, date of birth, and deceased/alive status, alongside the biometric ID photo, by leveraging direct access to the DHA database. Including the Biometric ID photo enhances the verification process, adding an extra layer of authentication and security. Moreover, the API''s ability to return essential information in real-time ensures efficient and accurate identity validation procedures for technical environments.'
      operationId: IdvPhoto
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[idNumber]'
                - 'consumer_details[yourReference]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 digit ID Number
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  IDPhotoResults:
                    type: object
                    properties:
                      idNumber:
                        type: string
                      firstNames:
                        type: string
                      surName:
                        type: string
                      deceasedStatus:
                        type: string
                      IDPhoto:
                        type: string
                x-examples:
                  Example 1:
                    Status: Success
                    IDPhotoResults:
                      idNumber: '8404191122334'
                      firstNames: JOHN
                      surName: DOE
                      deceasedStatus: Alive
                      IDPhoto: iVBORw0KGgoAAAANSUhEUgAAAh8AAAK5CAIAAACQett1AAAABmJLR0Q...
              examples:
                Example 1:
                  value:
                    Status: Success
                    IDPhotoResults:
                      idNumber: '8404191122334'
                      firstNames: JOHN
                      surName: DOE
                      deceasedStatus: Alive
                      IDPhoto: iVBORw0KGgoAAAANSUhEUgAAAh8AAAK5CAIAAACQett1AAAABmJLR0Q...
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Input values expected
        '401':
          description: Authentication credentials invalid
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Authentication error, please check your memberkey and password and try again'
        '402':
          description: Not sufficient funds to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Insufficient funds or Account Limit reached
        '403':
          description: Not authorized to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Search Disabled, Please contact support @ support@datanamix.com'
        '422':
          description: Partial response content returned
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  IDPhotoResults:
                    idNumber: ''
                    firstNames: ''
                    surName: ''
                    deceasedStatus: ''
                    IDPhoto: A relevant response message
      x-stoplight:
        id: d343nvpt6vvtw
  /pbverify-bio-idv:
    post:
      tags:
        - Home Affairs ID Verification
      summary: Realtime Fingerprint Bio
      description: 'The Datanamix Biometric Fingerprint verification API verifies fingerprints and ID numbers associated with valid 13-digit South African ID numbers, as well as matches the photo on the ID document with the Department of Home Affairs Database. Both left and right thumbprints must be captured using a certified fingerprint-capturing device to use the system. Once these thumbprints, along with the 13-digit ID number and the name details of the South African citizen, are verified, the API compares them with the information in the Department of Home Affairs database. If there is a match, the system verifies the details and, if available, displays the ID photo. If the fingerprints do not match the ID number, the system indicates this and outputs the associated details for comparison. For more detailed instructions on utilising this service, please refer to the Extended Documentation.'
      operationId: bioMetricIdv
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[firstname]'
                - 'consumer_details[idNumber]'
                - 'consumer_details[leftThumb]'
                - 'consumer_details[rightThumb]'
                - 'consumer_details[surname]'
                - 'consumer_details[yourReference]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 digit ID Number
                'consumer_details[firstname]':
                  type: string
                  description: Consumers First names
                'consumer_details[surname]':
                  type: string
                  description: Consumers Surname
                'consumer_details[leftThumb]':
                  type: string
                  description: Consumers left thumb fringerprint - 512x512 wsq format - base64 encoded
                'consumer_details[rightThumb]':
                  type: string
                  description: Consumers right thumb fringerprint - 512x512 wsq format - base64 encoded
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  BioMetric_Response:
                    type: object
                    properties:
                      ReportInformation:
                        type: object
                        properties:
                          ReportID:
                            type: string
                          ReportName:
                            type: string
                      ConsumerDetail:
                        type: object
                        properties:
                          DisplayText:
                            type: string
                          ConsumerID:
                            type: string
                          Initials:
                            type: string
                          FirstName:
                            type: string
                          SecondName:
                            type: string
                          Surname:
                            type: string
                          IDNo:
                            type: string
                          BirthDate:
                            type: string
                          Gender:
                            type: string
                          TitleDesc:
                            type: string
                          ReferenceNo:
                            type: string
                          ExternalReference:
                            type: string
                          XDSDeceasedStatus:
                            type: string
                      ConsumerIdentityVerification:
                        type: object
                        properties:
                          DisplayText:
                            type: string
                          IDNo:
                            type: string
                          XDSDeceasedStatus:
                            type: string
                          HomeAffairsFirstName:
                            type: string
                          HomeAffairsSurname:
                            type: string
                          HomeAffairsDeceasedStatus:
                            type: string
                      BioMetricVerificationResult:
                        type: object
                        properties:
                          FingerColor:
                            type: string
                          HasImage:
                            type: string
                          TmStamp:
                            type: string
                          TransactionNumber:
                            type: string
                          VerificationResult:
                            type: string
                          VerificationResultDescription:
                            type: string
                          SubscriberEnquiryID:
                            type: string
                          SubscriberEnquiryResultID:
                            type: string
                          IDPhoto:
                            type: string
                      SubscriberInputDetails:
                        type: object
                        properties:
                          EnquiryDate:
                            type: string
                          EnquiryType:
                            type: string
                          SubscriberName:
                            type: string
                          SubscriberUserName:
                            type: string
                          EnquiryInput:
                            type: string
                x-examples:
                  Example 1:
                    Status: Success
                    BioMetric_Response:
                      ReportInformation:
                        ReportID: '114'
                        ReportName: ID BioMetric verification Report
                      ConsumerDetail:
                        DisplayText: Consumer Detail
                        ConsumerID: '3819777'
                        Initials: IH
                        FirstName: JUST
                        SecondName: ''
                        Surname: GOOFY
                        IDNo: '790501467895'
                        BirthDate: '1979-05-01'
                        Gender: Male
                        TitleDesc: Mister
                        ReferenceNo: H53351146-28113283
                        ExternalReference: Bio Verification
                        XDSDeceasedStatus: Active
                      ConsumerIdentityVerification:
                        DisplayText: Consumer Identity Verification
                        IDNo: '790501467895'
                        XDSDeceasedStatus: Active
                        HomeAffairsFirstName: JUST
                        HomeAffairsSurname: GOOFY
                        HomeAffairsDeceasedStatus: Active
                      BioMetricVerificationResult:
                        FingerColor: Red
                        HasImage: 'True'
                        TmStamp: '2018/01/03 02:43:53 PM'
                        TransactionNumber: '29215'
                        VerificationResult: Unverified_Finger_Prints
                        VerificationResultDescription: Fingerprints Do Not Match with ID Number
                        SubscriberEnquiryID: '53351146'
                        SubscriberEnquiryResultID: '54005500'
                        IDPhoto: base64 string of jpg
                      SubscriberInputDetails:
                        EnquiryDate: '2018-01-03T14:43:53.7162495+02:00'
                        EnquiryType: ID BioMetric verification
                        SubscriberName: 'Pitney Bowes '
                        SubscriberUserName: Pitney  Bowes
                        EnquiryInput: 7504105030088 | GOOFY
              examples:
                Example 1:
                  value:
                    Status: Success
                    BioMetric_Response:
                      ReportInformation:
                        ReportID: '114'
                        ReportName: ID BioMetric verification Report
                      ConsumerDetail:
                        DisplayText: Consumer Detail
                        ConsumerID: '3819777'
                        Initials: IH
                        FirstName: JUST
                        SecondName: ''
                        Surname: GOOFY
                        IDNo: '790501467895'
                        BirthDate: '1979-05-01'
                        Gender: Male
                        TitleDesc: Mister
                        ReferenceNo: H53351146-28113283
                        ExternalReference: Bio Verification
                        XDSDeceasedStatus: Active
                      ConsumerIdentityVerification:
                        DisplayText: Consumer Identity Verification
                        IDNo: '790501467895'
                        XDSDeceasedStatus: Active
                        HomeAffairsFirstName: JUST
                        HomeAffairsSurname: GOOFY
                        HomeAffairsDeceasedStatus: Active
                      BioMetricVerificationResult:
                        FingerColor: Red
                        HasImage: 'True'
                        TmStamp: '2018/01/03 02:43:53 PM'
                        TransactionNumber: '29215'
                        VerificationResult: Unverified_Finger_Prints
                        VerificationResultDescription: Fingerprints Do Not Match with ID Number
                        SubscriberEnquiryID: '53351146'
                        SubscriberEnquiryResultID: '54005500'
                        IDPhoto: base64 string of jpg
                      SubscriberInputDetails:
                        EnquiryDate: '2018-01-03T14:43:53.7162495+02:00'
                        EnquiryType: ID BioMetric verification
                        SubscriberName: 'Pitney Bowes '
                        SubscriberUserName: Pitney  Bowes
                        EnquiryInput: 7504105030088 | GOOFY
      x-stoplight:
        id: knnpmrve3jqoo
  /id-scan-to-hanis-verification:
    post:
      tags:
        - Home Affairs ID Verification
      summary: ID Scan To HANIS Verification
      description: 'Transmit an image of an ID document featuring a South African ID Number for validation against Home Affairs data. Following this, the submitted image will undergo facial recognition processing against the corresponding image within the Home Affairs database and return a match result. '
      operationId: id-scan-to-hanis-verification
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - captureImage
                - idNumber
                - memberkey
                - password
                - yourReference
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                idNumber:
                  type: string
                  description: Consumers 13 digit ID Number
                captureImage:
                  type: string
                  description: base64 encoded string of image captured
                yourReference:
                  type: string
                  description: Your Search Reference - Internal use
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  Status:
                    type: string
                  Result:
                    type: object
                    properties:
                      ResponseStatusCode:
                        type: integer
                      ResponseMessage:
                        type: string
                      InputIdNumber:
                        type: integer
                      MatchScore:
                        type: integer
                      HanisName:
                        type: string
                      HanisSurname:
                        type: string
                      HanisDeceasedStatus:
                        type: string
                      HanisIdCardIndicator:
                        type: string
                      HanisIdCardDate:
                        type: string
                  Error:
                    type: string
                x-examples:
                  Example 1:
                    Status: Success
                    Result:
                      ResponseStatusCode: 0
                      ResponseMessage: Face Match Successful
                      InputIdNumber: 8501015500081
                      MatchScore: 81
                      HanisName: Joe
                      HanisSurname: Soap
                      HanisDeceasedStatus: Alive
                      HanisIdCardIndicator: 'Yes'
                      HanisIdCardDate: '2015-03-18'
                    Error: ''
              examples:
                Example 1:
                  value:
                    Status: Success
                    Result:
                      ResponseStatusCode: 0
                      ResponseMessage: Face Match Successful
                      InputIdNumber: 8501015500081
                      MatchScore: 81
                      HanisName: Joe
                      HanisSurname: Soap
                      HanisDeceasedStatus: Alive
                      HanisIdCardIndicator: 'Yes'
                      HanisIdCardDate: '2015-03-18'
                    Error: ''
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Input values expected
        '401':
          description: Authentication credentials invalid
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Authentication error, please check your memberkey and password and try again'
        '402':
          description: Not sufficient funds to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Insufficient funds or Account Limit reached
        '403':
          description: Not authorized to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Search Disabled, Please contact support @ support@datanamix.com'
        '422':
          description: Partial response content returned
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Result:
                    ResponseStatusCode: 2
                    ResponseMessage: A relevant message explaining the error
                    InputIdNumber: '8501015500081'
                    MatchScore: 0
                    HanisName: ''
                    HanisSurname: ''
                    HanisDeceasedStatus: ''
                    HanisIdCardIndicator: ''
                    HanisIdCardDate: ''
                  Error: ''
      x-stoplight:
        id: ga66181jeobx9
  /realtime-idv-facial-to-hanis:
    post:
      tags:
        - Home Affairs ID Verification
      summary: Verify Photo To HANIS
      description: Send a captured image with a SA ID Number which will be verified against Realtime Home Affairs data and then the captured image will be processed against the Home Affairs image with a facial recognition
      operationId: zoom-realtime-facial-to-hanis
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - captureImage
                - idNumber
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                idNumber:
                  type: string
                  description: Consumers 13 digit ID Number
                captureImage:
                  type: string
                  description: base64 encoded string of image captured
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, realTimeResults={traceId=14365636, idNumber=9003265011000, firstNames=JOE JAMES, surName=SOAP, dob=1990-03-26, age=30, gender=Male, citizenship=South African, deceasedStatus=Alive, deceasedDate=}, FacialtoHanisMatch={MatchScore=59, ICAOStatus=success, ICAOGender=Male, ICAOAge=25, OriginalImage=/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJC...}}'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Input values expected
        '401':
          description: Authentication credentials invalid
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Authentication error, please check your memberkey and password and try again'
        '402':
          description: Not sufficient funds to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Insufficient funds or Account Limit reached
        '403':
          description: Not authorized to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Search Disabled, Please contact support @ support@datanamix.com'
        '422':
          description: Partial response content returned
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: A relevant message explaining the error
      x-stoplight:
        id: mdjh1pd1mun0h
  /datanamix-consumer-lineage:
    post:
      tags:
        - Family Lineage
      summary: Family Lineage
      description: 'Access to the Datanamix Family Lineage API product necessitates explicit consent and adherence to legal guidelines, with permitted usage confined to fraud investigation and tracing beneficiaries for insurance and policy payouts. For further details and qualification criteria, please reach out to Datanamix directly. The service enables users to query an ID against the Department of Home Affairs (DHA) database, retrieving essential family details linked to the ID, such as the master ID, spouse, grandparents, and minor information. This includes address, contact, and employment data associated with each family member. Notably, access to minors'' ID photos is restricted in accordance with relevant legislation governing minor information access.'
      operationId: DatanamixConsumerLineage
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - idNumber
                - memberkey
                - password
                - reference
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                idNumber:
                  type: string
                  description: 13-digit South African ID Number
                reference:
                  type: string
                  description: Your search reference
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  '{Status':
                    type: string
                x-examples:
                  Example 1:
                    '{Status': 'Success, Result={Consumers={Consumer=[{RealTimeIDV={InputIDNO=0000000000000, HAIDNO=0000000000000, IDNOMatchStatus=Matched, HANames=JOE JACKSON, HASurname=SOAP, HAGender=Male, HADateOfBirth=1990-01-19, HABirthPlace=SOUTH AFRICA, HADeceasedStatus=Alive, HADeceasedDate=, DeathPlace=, CauseOfDeath=, HAMarriageStatus=MARRIED, HAMarriageDate=2016-01-21, HAIDBookIssuedDate=2008-10-13, IdCardInd=Yes, HAIDCardDate=2016-11-21, HAIDSequenceNumber=, HAIDNumberBlocked=NO, HASpouseID=0000000000001, HAChild1ID=1700000000001, HAChild1Status=ALIVE, HAChild2ID=, HAChild2Status=, HAChild3ID=, HAChild3Status=, HAChild4ID=, HAChild4Status=, HAChild5ID=, HAChild5Status=, HAChild6ID=, HAChild6Status=, HAChild7ID=, HAChild7Status=, HAChild8ID=, HAChild8Status=, HAChild9ID=, HAChild9Status=, HAChild10ID=, HAChild10Status=, HAChild11ID=, HAChild11Status=, HAChild12ID=, HAChild12Status=, HAChild13ID=, HAChild13Status=, HAChild14ID=, HAChild14Status=, HAChild15ID=, HAChild15Status=, HAChild16ID=, HAChild16Status=, HAChild17ID=, HAChild17Status=, HAChild18ID=, HAChild18Status=, HAChild19ID=, HAChild19Status=, HAChild20ID=, HAChild20Status=, HAChild21ID=, HAChild21Status=, HAMotherID=0, HAFatherID=0, HAErrorDescription=}, Relationship={Relation=Master}, ConsumerEmailHistory={DisplayText=Consumer Email History, EmailAddress=joe@test.com, LastUpdatedDate=2014-11-30}, ConsumerAddressHistory=[{DisplayText=Consumer Address History, ConsumerAddressID=000000112, AddressType=Residential, AddressTypeInd=R, Address1=12 LONG RD, Address2=, Address3=, Address4=, PostalCode=2000, Address= 12 HOUSE RD 0000, LastUpdatedDate=2021-09-29, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Address History, ConsumerAddressID=000000113, AddressType=Postal, AddressTypeInd=P, Address1=770 BAR CRESCENT, Address2=, Address3=, Address4=, PostalCode=1192, Address=770 BAR CRESCENT 1192, LastUpdatedDate=2021-09-29, FirstReportedDate=2002-11-13}], ConsumerTelephoneHistory=[{DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456789, TelephoneType=Cellular, TelephoneTypeInd=C, TelCode=083, TelNo=6400000, TelephoneNo=0836400000, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456783, TelephoneType=Work, TelephoneTypeInd=W, TelCode=012, TelNo=1210258, TelephoneNo=0121210258, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2017-04-28}], ConsumerEmploymentHistory=[{DisplayText=Consumer Employment History, EmployerDetail=DATANAMIX PTY LTD, Designation=, LastUpdatedDate=2015-07-11, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Employment History, EmployerDetail=DATANAMIX LTD, Designation=, LastUpdatedDate=2013-01-20, FirstReportedDate=2002-11-13}], BioMetricVerificationResult={ApplicationErrors=, Base64StringJpeg2000Image=iVBORw0KGgoAAAANSUhEUgAAAh8AAAK5CA............., HasImage=True, TmStamp=2023-06-21 10:05:36 AM, TransactionNumber=2306000000000, VerificationErrors=, SubscriberEnquiryID=230600, HanisIDMatch=Matched}}, {RealTimeIDV={InputIDNO=0000000000001, HAIDNO=0000000000001, IDNOMatchStatus=Matched, HANames=JACKIE, HASurname=SOAP, HAGender=Female, HADateOfBirth=1988-03-20, HABirthPlace=SOUTH AFRICA, HADeceasedStatus=Alive, HADeceasedDate=, DeathPlace=, CauseOfDeath=, HAMarriageStatus=MARRIED, HAMarriageDate=2016-01-21, HAIDBookIssuedDate=2007-06-19, IdCardInd=Yes, HAIDCardDate=2016-11-10, HAIDSequenceNumber=, HAIDNumberBlocked=NO, HASpouseID=0000000000000, HAChild1ID=1700000000001, HAChild1Status=ALIVE, HAChild2ID=, HAChild2Status=, HAChild3ID=, HAChild3Status=, HAChild4ID=, HAChild4Status=, HAChild5ID=, HAChild5Status=, HAChild6ID=, HAChild6Status=, HAChild7ID=, HAChild7Status=, HAChild8ID=, HAChild8Status=, HAChild9ID=, HAChild9Status=, HAChild10ID=, HAChild10Status=, HAChild11ID=, HAChild11Status=, HAChild12ID=, HAChild12Status=, HAChild13ID=, HAChild13Status=, HAChild14ID=, HAChild14Status=, HAChild15ID=, HAChild15Status=, HAChild16ID=, HAChild16Status=, HAChild17ID=, HAChild17Status=, HAChild18ID=, HAChild18Status=, HAChild19ID=, HAChild19Status=, HAChild20ID=, HAChild20Status=, HAChild21ID=, HAChild21Status=, HAMotherID=0, HAFatherID=0, HAErrorDescription=}, Relationship={Relation=Spouse}, ConsumerAddressHistory=[{DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456789, TelephoneType=Cellular, TelephoneTypeInd=C, TelCode=083, TelNo=6400000, TelephoneNo=0836400000, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456783, TelephoneType=Work, TelephoneTypeInd=W, TelCode=012, TelNo=1210258, TelephoneNo=0121210258, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2017-04-28}], ConsumerEmploymentHistory={DisplayText=Consumer Employment History, EmployerDetail=APPLE PROPERTIES, Designation=, LastUpdatedDate=2014-04-26, FirstReportedDate=2012-02-27}, BioMetricVerificationResult={ApplicationErrors=, Base64StringJpeg2000Image=iVBORw0KGgoAAAANSUhEUgAAAh8AAAK5CAIAAACQett1AAAABG..........., HasImage=True, TmStamp=2023-06-21 10:05:47 AM, TransactionNumber=2306219340352, VerificationErrors=, SubscriberEnquiryID=58251247, HanisIDMatch=Matched}}, {RealTimeIDV={InputIDNO=1700000000001, HAIDNO=1700000000001, IDNOMatchStatus=Matched, HANames=JOEY JOE, HASurname=SOAP, HAGender=Male, HADateOfBirth=2017-01-01, HABirthPlace=SOUTH AFRICA, HADeceasedStatus=Alive, HADeceasedDate=, DeathPlace=, CauseOfDeath=, HAMarriageStatus=SINGLE, HAMarriageDate=, HAIDBookIssuedDate=, IdCardInd=No, HAIDCardDate=, HAIDSequenceNumber=, HAIDNumberBlocked=NO, HASpouseID=, HAChild1ID=, HAChild1Status=, HAChild2ID=, HAChild2Status=, HAChild3ID=, HAChild3Status=, HAChild4ID=, HAChild4Status=, HAChild5ID=, HAChild5Status=, HAChild6ID=, HAChild6Status=, HAChild7ID=, HAChild7Status=, HAChild8ID=, HAChild8Status=, HAChild9ID=, HAChild9Status=, HAChild10ID=, HAChild10Status=, HAChild11ID=, HAChild11Status=, HAChild12ID=, HAChild12Status=, HAChild13ID=, HAChild13Status=, HAChild14ID=, HAChild14Status=, HAChild15ID=, HAChild15Status=, HAChild16ID=, HAChild16Status=, HAChild17ID=, HAChild17Status=, HAChild18ID=, HAChild18Status=, HAChild19ID=, HAChild19Status=, HAChild20ID=, HAChild20Status=, HAChild21ID=, HAChild21Status=, HAMotherID=0000000000001, HAFatherID=0000000000000, HAErrorDescription=}, Relationship={Relation=Child}, BioMetricVerificationResult={ApplicationErrors=, Base64StringJpeg2000Image=, HasImage=False, TmStamp=2023-06-21 10:05:55 AM, TransactionNumber=2306219340923, VerificationErrors=No JPEG 2000 photograph, SubscriberEnquiryID=58251247, HanisIDMatch=Matched}}]}}}'
              examples:
                Example 1:
                  value:
                    '{Status': 'Success, Result={Consumers={Consumer=[{RealTimeIDV={InputIDNO=0000000000000, HAIDNO=0000000000000, IDNOMatchStatus=Matched, HANames=JOE JACKSON, HASurname=SOAP, HAGender=Male, HADateOfBirth=1990-01-19, HABirthPlace=SOUTH AFRICA, HADeceasedStatus=Alive, HADeceasedDate=, DeathPlace=, CauseOfDeath=, HAMarriageStatus=MARRIED, HAMarriageDate=2016-01-21, HAIDBookIssuedDate=2008-10-13, IdCardInd=Yes, HAIDCardDate=2016-11-21, HAIDSequenceNumber=, HAIDNumberBlocked=NO, HASpouseID=0000000000001, HAChild1ID=1700000000001, HAChild1Status=ALIVE, HAChild2ID=, HAChild2Status=, HAChild3ID=, HAChild3Status=, HAChild4ID=, HAChild4Status=, HAChild5ID=, HAChild5Status=, HAChild6ID=, HAChild6Status=, HAChild7ID=, HAChild7Status=, HAChild8ID=, HAChild8Status=, HAChild9ID=, HAChild9Status=, HAChild10ID=, HAChild10Status=, HAChild11ID=, HAChild11Status=, HAChild12ID=, HAChild12Status=, HAChild13ID=, HAChild13Status=, HAChild14ID=, HAChild14Status=, HAChild15ID=, HAChild15Status=, HAChild16ID=, HAChild16Status=, HAChild17ID=, HAChild17Status=, HAChild18ID=, HAChild18Status=, HAChild19ID=, HAChild19Status=, HAChild20ID=, HAChild20Status=, HAChild21ID=, HAChild21Status=, HAMotherID=0, HAFatherID=0, HAErrorDescription=}, Relationship={Relation=Master}, ConsumerEmailHistory={DisplayText=Consumer Email History, EmailAddress=joe@test.com, LastUpdatedDate=2014-11-30}, ConsumerAddressHistory=[{DisplayText=Consumer Address History, ConsumerAddressID=000000112, AddressType=Residential, AddressTypeInd=R, Address1=12 LONG RD, Address2=, Address3=, Address4=, PostalCode=2000, Address= 12 HOUSE RD 0000, LastUpdatedDate=2021-09-29, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Address History, ConsumerAddressID=000000113, AddressType=Postal, AddressTypeInd=P, Address1=770 BAR CRESCENT, Address2=, Address3=, Address4=, PostalCode=1192, Address=770 BAR CRESCENT 1192, LastUpdatedDate=2021-09-29, FirstReportedDate=2002-11-13}], ConsumerTelephoneHistory=[{DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456789, TelephoneType=Cellular, TelephoneTypeInd=C, TelCode=083, TelNo=6400000, TelephoneNo=0836400000, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456783, TelephoneType=Work, TelephoneTypeInd=W, TelCode=012, TelNo=1210258, TelephoneNo=0121210258, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2017-04-28}], ConsumerEmploymentHistory=[{DisplayText=Consumer Employment History, EmployerDetail=DATANAMIX PTY LTD, Designation=, LastUpdatedDate=2015-07-11, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Employment History, EmployerDetail=DATANAMIX LTD, Designation=, LastUpdatedDate=2013-01-20, FirstReportedDate=2002-11-13}], BioMetricVerificationResult={ApplicationErrors=, Base64StringJpeg2000Image=iVBORw0KGgoAAAANSUhEUgAAAh8AAAK5CA............., HasImage=True, TmStamp=2023-06-21 10:05:36 AM, TransactionNumber=2306000000000, VerificationErrors=, SubscriberEnquiryID=230600, HanisIDMatch=Matched}}, {RealTimeIDV={InputIDNO=0000000000001, HAIDNO=0000000000001, IDNOMatchStatus=Matched, HANames=JACKIE, HASurname=SOAP, HAGender=Female, HADateOfBirth=1988-03-20, HABirthPlace=SOUTH AFRICA, HADeceasedStatus=Alive, HADeceasedDate=, DeathPlace=, CauseOfDeath=, HAMarriageStatus=MARRIED, HAMarriageDate=2016-01-21, HAIDBookIssuedDate=2007-06-19, IdCardInd=Yes, HAIDCardDate=2016-11-10, HAIDSequenceNumber=, HAIDNumberBlocked=NO, HASpouseID=0000000000000, HAChild1ID=1700000000001, HAChild1Status=ALIVE, HAChild2ID=, HAChild2Status=, HAChild3ID=, HAChild3Status=, HAChild4ID=, HAChild4Status=, HAChild5ID=, HAChild5Status=, HAChild6ID=, HAChild6Status=, HAChild7ID=, HAChild7Status=, HAChild8ID=, HAChild8Status=, HAChild9ID=, HAChild9Status=, HAChild10ID=, HAChild10Status=, HAChild11ID=, HAChild11Status=, HAChild12ID=, HAChild12Status=, HAChild13ID=, HAChild13Status=, HAChild14ID=, HAChild14Status=, HAChild15ID=, HAChild15Status=, HAChild16ID=, HAChild16Status=, HAChild17ID=, HAChild17Status=, HAChild18ID=, HAChild18Status=, HAChild19ID=, HAChild19Status=, HAChild20ID=, HAChild20Status=, HAChild21ID=, HAChild21Status=, HAMotherID=0, HAFatherID=0, HAErrorDescription=}, Relationship={Relation=Spouse}, ConsumerAddressHistory=[{DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456789, TelephoneType=Cellular, TelephoneTypeInd=C, TelCode=083, TelNo=6400000, TelephoneNo=0836400000, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2002-11-13}, {DisplayText=Consumer Telephone History, ConsumerTelephoneID=123456783, TelephoneType=Work, TelephoneTypeInd=W, TelCode=012, TelNo=1210258, TelephoneNo=0121210258, EmailAddress=, LastUpdatedDate=2020-08-21, FirstReportedDate=2017-04-28}], ConsumerEmploymentHistory={DisplayText=Consumer Employment History, EmployerDetail=APPLE PROPERTIES, Designation=, LastUpdatedDate=2014-04-26, FirstReportedDate=2012-02-27}, BioMetricVerificationResult={ApplicationErrors=, Base64StringJpeg2000Image=iVBORw0KGgoAAAANSUhEUgAAAh8AAAK5CAIAAACQett1AAAABG..........., HasImage=True, TmStamp=2023-06-21 10:05:47 AM, TransactionNumber=2306219340352, VerificationErrors=, SubscriberEnquiryID=58251247, HanisIDMatch=Matched}}, {RealTimeIDV={InputIDNO=1700000000001, HAIDNO=1700000000001, IDNOMatchStatus=Matched, HANames=JOEY JOE, HASurname=SOAP, HAGender=Male, HADateOfBirth=2017-01-01, HABirthPlace=SOUTH AFRICA, HADeceasedStatus=Alive, HADeceasedDate=, DeathPlace=, CauseOfDeath=, HAMarriageStatus=SINGLE, HAMarriageDate=, HAIDBookIssuedDate=, IdCardInd=No, HAIDCardDate=, HAIDSequenceNumber=, HAIDNumberBlocked=NO, HASpouseID=, HAChild1ID=, HAChild1Status=, HAChild2ID=, HAChild2Status=, HAChild3ID=, HAChild3Status=, HAChild4ID=, HAChild4Status=, HAChild5ID=, HAChild5Status=, HAChild6ID=, HAChild6Status=, HAChild7ID=, HAChild7Status=, HAChild8ID=, HAChild8Status=, HAChild9ID=, HAChild9Status=, HAChild10ID=, HAChild10Status=, HAChild11ID=, HAChild11Status=, HAChild12ID=, HAChild12Status=, HAChild13ID=, HAChild13Status=, HAChild14ID=, HAChild14Status=, HAChild15ID=, HAChild15Status=, HAChild16ID=, HAChild16Status=, HAChild17ID=, HAChild17Status=, HAChild18ID=, HAChild18Status=, HAChild19ID=, HAChild19Status=, HAChild20ID=, HAChild20Status=, HAChild21ID=, HAChild21Status=, HAMotherID=0000000000001, HAFatherID=0000000000000, HAErrorDescription=}, Relationship={Relation=Child}, BioMetricVerificationResult={ApplicationErrors=, Base64StringJpeg2000Image=, HasImage=False, TmStamp=2023-06-21 10:05:55 AM, TransactionNumber=2306219340923, VerificationErrors=No JPEG 2000 photograph, SubscriberEnquiryID=58251247, HanisIDMatch=Matched}}]}}}'
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Input values expected
        '401':
          description: Authentication credentials invalid
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Authentication error, please check your memberkey and password and try again'
        '402':
          description: Not sufficient funds to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: Insufficient funds or Account Limit reached
        '403':
          description: Not authorized to perform action
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: 'Search Disabled, Please contact support @ support@datanamix.com'
        '422':
          description: Partial response content returned
          content:
            application/json:
              schema:
                type: object
                example:
                  Status: Failure
                  Error: A relevant message explaining the error
      x-stoplight:
        id: kmga9fvbu0cga
  /pbverify-authentication-questions:
    post:
      tags:
        - Authentication Questions
      summary: Retrieve Questions
      description: Gets an array of Personal questions to present to your Consumer for authentication.
      operationId: AuthQuestions
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - idNumber
                - memberkey
                - mobileCode
                - mobileNumber
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                idNumber:
                  type: string
                  description: Consumers 13 digit ID Number
                mobileCode:
                  type: string
                  description: First 3 digits of the mobile number
                mobileNumber:
                  type: string
                  description: Last 7 digits of the mobile number
                requiredAuthenticationPassPercentage:
                  type: string
                  description: 'integer percentage 0 - 100 for pass rate, if left blank an 80% pass rate is specified.'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, QuestionSetId=22, Result={QuestionDocument=[{ProductAuthenticationQuestionID=24001, Question=What is the credit limit on your Woolworths Card account?, AnswerStatusInd=P, QuestionPointValue=54, RequiredNoOfAnswers=1, Answers={AnswerDocument=[{AnswerID=13793938, Answer=0 - 3000, IsEnteredAnswerYN=false}, {AnswerID=13793941, Answer=10001 - 15000, IsEnteredAnswerYN=false}, {AnswerID=13793940, Answer=7001 - 10000, IsEnteredAnswerYN=false}, {AnswerID=13793942, Answer=15001 - 25000, IsEnteredAnswerYN=false}, {AnswerID=13793944, Answer=None of these, IsEnteredAnswerYN=false}, {AnswerID=13793939, Answer=3001 - 7000, IsEnteredAnswerYN=false}, {AnswerID=13793943, Answer=25001+, IsEnteredAnswerYN=false}]}}, {ProductAuthenticationQuestionID=29020, Question=What is the Date Of Issue for your South African Green ID book?, AnswerStatusInd=P, QuestionPointValue=50, RequiredNoOfAnswers=1, Answers={AnswerDocument=[{AnswerID=13793933, Answer=(Incorrect), IsEnteredAnswerYN=false}, {AnswerID=13793932, Answer=2008-10-13, IsEnteredAnswerYN=false}]}}, {ProductAuthenticationQuestionID=21012, Question=Name your clothing store accounts, AnswerStatusInd=P, QuestionPointValue=67, RequiredNoOfAnswers=1, Answers={AnswerDocument=[{AnswerID=13793947, Answer=ABC Shoes, IsEnteredAnswerYN=false}, {AnswerID=13793946, Answer=Luella, IsEnteredAnswerYN=false}, {AnswerID=13793945, Answer=Woolworths R & D, IsEnteredAnswerYN=false}, {AnswerID=13793949, Answer=None of these, IsEnteredAnswerYN=false}, {AnswerID=13793948, Answer=Sales House, IsEnteredAnswerYN=false}]}}, {ProductAuthenticationQuestionID=21007, Question=Is your Santam account active?, AnswerStatusInd=P, QuestionPointValue=85, RequiredNoOfAnswers=1, Answers={AnswerDocument=[{AnswerID=13793935, Answer=No, IsEnteredAnswerYN=false}, {AnswerID=13793934, Answer=Yes, IsEnteredAnswerYN=false}]}}, {ProductAuthenticationQuestionID=27001, Question=Have you worked at PITNEY BOWES SA PTY5 KINR 1?, AnswerStatusInd=P, QuestionPointValue=84, RequiredNoOfAnswers=1, Answers={AnswerDocument=[{AnswerID=13793936, Answer=Yes, IsEnteredAnswerYN=false}, {AnswerID=13793937, Answer=No, IsEnteredAnswerYN=false}]}}]}}'
            application/xml:
              schema:
                type: object
                properties: {}
      x-stoplight:
        id: 17ivfcvagenbc
  /pbverify-authentication-answers:
    post:
      tags:
        - Authentication Questions
      summary: Post Answers
      description: Method called to send the anwser given from the Datanamix-authentication-questions.
      operationId: AuthAnwswer
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - Answers
                - QuestionSetId
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                QuestionSetId:
                  type: string
                  description: Question Set ID
                Answers:
                  type: string
                  description: Return the Questions object as recieved but just with answer inputted
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, Result={RequiredAuthenticatedPerc=80.0000, AuthenticatedPerc=59.4118, FirstName=JOHN, Surname=DOE, IDNo=8404199808705, Ha_DeaseasedStatus=Active}}'
      x-stoplight:
        id: o8tcux63ph8a0
  /pbverify-authentication-questions-unblock-consumer-request:
    post:
      tags:
        - Authentication Questions
      summary: Unblock Consumer
      description: Enables you to unblock a consumer when the consumer is blocked due to failing the questions.
      operationId: AuthQuestionsUnblock
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - idNumber
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                idNumber:
                  type: string
                  description: Consumers 13 digit ID Number
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, Error=Consumer Unblocked Successfully.}'
      x-stoplight:
        id: wnymllosyzqkz
  /pbverify-consumer-kyc:
    post:
      tags:
        - Know Your Customer (KYC)
      summary: Retrieve Credit Bureau data
      description: 'The Consumer KYC Service provides an efficient and fast way for a business to verify their customers. In addition to the verification check this service will also return contact, address and employment information.'
      operationId: addressCr
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[idNumber]'
                - 'consumer_details[yourReference]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 Digit ID Number
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, Consumer_Trace={EnquiryID=17198745680493844799, DateCreated=2021-09-15 13:29:08:982, DefiniteMatchData={IdentityNumber=7908015558078, IdentityType=SID, Forename1=JOHN, Surname=DOE, DateOfBirth=1979-08-01, Verified=Y, DateVerified=2021-07-31, Deceased=N}, AddressData={AddressDataRecord=[{Line1=5 SKALIE STREET, Line2=WEST ACRES, Line3=NELSPRUIT, PostalCode=1201, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2008-01-23, LastDateUpdated=2019-08-31, NumberOfSources=2, AddressSources={AddressSourceRecord=[{SubscriberCode=126, SubscriberName=HOLLARD INSURANCE, FirstDateCreated=2019-03-31, LastDateUpdated=2019-08-31}, {SubscriberCode=0, SubscriberName=COMPUSCAN HQ, FirstDateCreated=2008-01-23, LastDateUpdated=2008-09-30}]}}, {Line1=P O BOX P O BOX19320, Line2=NELSPRUIT, PostalCode=1200, AddressType=P, AddressTypeDescription=POSTAL, FirstDateCreated=2016-04-30, LastDateUpdated=2019-06-30, NumberOfSources=1, AddressSources={AddressSourceRecord={SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2016-04-30, LastDateUpdated=2019-06-30}}}, {Line1=13 TRICELIA STREET, Line2=WEST ACRES, Line3=NELSPRUIT, PostalCode=1201, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2016-04-30, LastDateUpdated=2019-06-30, NumberOfSources=1, AddressSources={AddressSourceRecord={SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2016-04-30, LastDateUpdated=2019-06-30}}}, {Line1=18 TRICELIA STREET, Line2=WEST ACRES, Line3=NELSPRUIT, PostalCode=1201, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2012-03-31, LastDateUpdated=2019-02-28, NumberOfSources=2, AddressSources={AddressSourceRecord=[{SubscriberCode=5908, SubscriberName=TELKOM NGN, FirstDateCreated=2019-01-31, LastDateUpdated=2019-02-28}, {SubscriberCode=47, SubscriberName=TELKOM, FirstDateCreated=2012-03-31, LastDateUpdated=2017-07-31}]}}, {Line1=UNKNOW, Line2=UNKNOW, PostalCode=0000, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2015-01-27, LastDateUpdated=2019-01-29, NumberOfSources=1, AddressSources={AddressSourceRecord={SubscriberName=HINT, FirstDateCreated=2015-01-27, LastDateUpdated=2019-01-29}}}, {Line1=8 SKALIE STREET, Line2=WEST ACRES, Line3=NELSPRUIT, PostalCode=1201, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2010-09-30, LastDateUpdated=2017-11-30, NumberOfSources=1, AddressSources={AddressSourceRecord={SubscriberCode=55, SubscriberName=ABSA HOME LOANS, FirstDateCreated=2010-09-30, LastDateUpdated=2017-11-30}}}, {Line1=18A TRACHILIA STREET, PostalCode=0000, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2014-03-31, LastDateUpdated=2017-11-30, NumberOfSources=1, AddressSources={AddressSourceRecord={SubscriberCode=5347, SubscriberName=DISCOVERY INSURE SHORT TERM INSURANCE, FirstDateCreated=2014-03-31, LastDateUpdated=2017-11-30}}}, {Line1=P O BOX 19320, Line2=NELSPRUIT, PostalCode=1211, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2008-01-23, LastDateUpdated=2017-11-30, NumberOfSources=9, AddressSources={AddressSourceRecord=[{SubscriberCode=5347, SubscriberName=DISCOVERY INSURE SHORT TERM INSURANCE, FirstDateCreated=2014-03-31, LastDateUpdated=2017-11-30}, {SubscriberCode=55, SubscriberName=ABSA HOME LOANS, FirstDateCreated=2010-09-30, LastDateUpdated=2017-11-30}, {SubscriberCode=47, SubscriberName=TELKOM, FirstDateCreated=2013-01-31, LastDateUpdated=2016-09-30}, {SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2012-01-31, LastDateUpdated=2016-02-29}, {SubscriberCode=5489, SubscriberName=MULTICHOICE, FirstDateCreated=2013-04-25, LastDateUpdated=2015-06-30}, {SubscriberCode=60, SubscriberName=ABSA VEHICLE FINANCE, FirstDateCreated=2009-03-31, LastDateUpdated=2013-04-30}, {SubscriberCode=160, SubscriberName=OUTSURANCE, FirstDateCreated=2009-01-31, LastDateUpdated=2012-10-31}, {SubscriberName=PLUM, FirstDateCreated=2009-08-02, LastDateUpdated=2009-08-02}, {SubscriberCode=0, SubscriberName=COMPUSCAN HQ, FirstDateCreated=2008-01-23, LastDateUpdated=2008-08-09}]}}, {Line1=19320, Line2=NELSPRUIT, PostalCode=1200, AddressType=P, AddressTypeDescription=POSTAL, FirstDateCreated=2016-03-31, LastDateUpdated=2016-05-31, NumberOfSources=1, AddressSources={AddressSourceRecord={SubscriberCode=11, SubscriberName=WESBANK MOTOR LOANS, FirstDateCreated=2016-03-31, LastDateUpdated=2016-05-31}}}, {Line1=45 GONE STREET, Line2=NELSPRUIT, PostalCode=1200, AddressType=R, AddressTypeDescription=RESIDENTIAL, FirstDateCreated=2016-03-31, LastDateUpdated=2016-05-31, NumberOfSources=1, AddressSources={AddressSourceRecord={SubscriberCode=11, SubscriberName=WESBANK MOTOR LOANS, FirstDateCreated=2016-03-31, LastDateUpdated=2016-05-31}}}]}, EmploymentData={EmploymentDataRecord=[{EmpName=COOL SHOP 1, FirstDateCreated=2017-08-31, LastDateUpdated=2019-06-30, NumberOfSources=1, EmploymentSources={EmploymentSourceRecord={SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2017-08-31, LastDateUpdated=2019-06-30}}}, {EmpName=COOL SHOP 2, Occupation=MANAGERS, FirstDateCreated=2013-10-31, LastDateUpdated=2016-05-31, NumberOfSources=1, EmploymentSources={EmploymentSourceRecord={SubscriberCode=11, SubscriberName=WESBANK MOTOR LOANS, FirstDateCreated=2013-10-31, LastDateUpdated=2016-05-31}}}, {EmpName=COOL SHOP 3, FirstDateCreated=2009-03-31, LastDateUpdated=2013-04-30, NumberOfSources=1, EmploymentSources={EmploymentSourceRecord={SubscriberCode=60, SubscriberName=ABSA VEHICLE FINANCE, FirstDateCreated=2009-03-31, LastDateUpdated=2013-04-30}}}]}, ContactData={ContactDataRecord=[{ContactNumber=0823397650, CountryCode=27, ContactType=C, ContactTypeDescription=CELL, FirstDateCreated=2019-05-10, LastDateUpdated=2019-08-31, NumberOfSources=1, ContactSources={ContactSourceRecord={SubscriberCode=126, SubscriberName=HOLLARD INSURANCE, FirstDateCreated=2019-05-10, LastDateUpdated=2019-08-31}}}, {ContactNumber=0137532507, AreaCode=013, CountryCode=27, ContactType=W, ContactTypeDescription=WORK, FirstDateCreated=2019-05-10, LastDateUpdated=2019-08-31, NumberOfSources=1, ContactSources={ContactSourceRecord={SubscriberCode=126, SubscriberName=HOLLARD INSURANCE, FirstDateCreated=2019-05-10, LastDateUpdated=2019-08-31}}}, {ContactNumber=0137412881, AreaCode=013, CountryCode=27, ContactType=H, ContactTypeDescription=HOME, FirstDateCreated=2019-05-10, LastDateUpdated=2019-08-31, NumberOfSources=1, ContactSources={ContactSourceRecord={SubscriberCode=126, SubscriberName=HOLLARD INSURANCE, FirstDateCreated=2019-05-10, LastDateUpdated=2019-08-31}}}, {ContactNumber=0722256250, CountryCode=27, ContactType=C, ContactTypeDescription=CELL, FirstDateCreated=2019-01-31, LastDateUpdated=2019-06-30, NumberOfSources=1, ContactSources={ContactSourceRecord={SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2019-01-31, LastDateUpdated=2019-06-30}}}, {ContactNumber=0137532909, AreaCode=013, CountryCode=27, ContactType=W, ContactTypeDescription=WORK, FirstDateCreated=2019-01-31, LastDateUpdated=2019-06-30, NumberOfSources=1, ContactSources={ContactSourceRecord={SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2019-01-31, LastDateUpdated=2019-06-30}}}, {ContactNumber=0137532909, AreaCode=013, CountryCode=27, ContactType=W, ContactTypeDescription=WORK, FirstDateCreated=2012-01-31, LastDateUpdated=2018-11-30, NumberOfSources=3, ContactSources={ContactSourceRecord=[{SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2012-01-31, LastDateUpdated=2018-11-30}, {SubscriberName=AXON, FirstDateCreated=2012-02-05, LastDateUpdated=2013-12-01}, {SubscriberName=PLUM, FirstDateCreated=2012-02-05, LastDateUpdated=2012-02-05}]}}, {ContactNumber=07265435640, CountryCode=27, ContactType=C, ContactTypeDescription=CELL, FirstDateCreated=2012-01-31, LastDateUpdated=2018-11-30, NumberOfSources=2, ContactSources={ContactSourceRecord=[{SubscriberCode=187, SubscriberName=STANDARD BANK HOME LOANS, FirstDateCreated=2012-01-31, LastDateUpdated=2018-11-30}, {SubscriberName=PLUM, FirstDateCreated=2012-04-12, LastDateUpdated=2013-06-18}]}}, {ContactNumber=04356346346, CountryCode=27, ContactType=C, ContactTypeDescription=CELL, FirstDateCreated=2009-07-31, LastDateUpdated=2017-11-30, NumberOfSources=10, ContactSources={ContactSourceRecord=[{SubscriberCode=5347, SubscriberName=DISCOVERY INSURE SHORT TERM INSURANCE, FirstDateCreated=2014-03-31, LastDateUpdated=2017-11-30}, {SubscriberCode=55, SubscriberName=ABSA HOME LOANS, FirstDateCreated=2010-09-30, LastDateUpdated=2017-11-30}, {SubscriberCode=11, SubscriberName=WESBANK MOTOR LOANS, FirstDateCreated=2013-10-31, LastDateUpdated=2016-05-31}, {SubscriberCode=5489, SubscriberName=MULTICHOICE, FirstDateCreated=2013-04-25, LastDateUpdated=2016-05-31}, {SubscriberName=HINT, FirstDateCreated=2014-12-30, LastDateUpdated=2015-06-23}, {SubscriberName=AXON, FirstDateCreated=2014-09-23, LastDateUpdated=2015-04-13}, {SubscriberCode=160, SubscriberName=OUTSURANCE, FirstDateCreated=2011-07-31, LastDateUpdated=2014-03-31}, {SubscriberName=PLUM, FirstDateCreated=2012-04-12, LastDateUpdated=2013-06-18}, {SubscriberCode=60, SubscriberName=ABSA VEHICLE FINANCE, FirstDateCreated=2010-09-30, LastDateUpdated=2013-04-30}, {SubscriberCode=0, SubscriberName=COMPUSCAN HQ, FirstDateCreated=2009-07-31, LastDateUpdated=2009-08-31}]}}, {ContactNumber=04567457560, AreaCode=013, CountryCode=27, ContactType=W, ContactTypeDescription=WORK, FirstDateCreated=2008-04-10, LastDateUpdated=2017-11-30, NumberOfSources=5, ContactSources={ContactSourceRecord=[{SubscriberCode=55, SubscriberName=ABSA HOME LOANS, FirstDateCreated=2010-09-30, LastDateUpdated=2017-11-30}, {SubscriberName=AXON, FirstDateCreated=2011-10-03, LastDateUpdated=2012-07-31}, {SubscriberName=PLUM, FirstDateCreated=2011-10-03, LastDateUpdated=2012-07-31}, {SubscriberCode=160, SubscriberName=OUTSURANCE, FirstDateCreated=2009-01-31, LastDateUpdated=2011-03-31}, {SubscriberCode=0, SubscriberName=COMPUSCAN HQ, FirstDateCreated=2008-04-10, LastDateUpdated=2008-08-05}]}}, {ContactNumber=0123456789, AreaCode=012, CountryCode=27, ContactType=H, ContactTypeDescription=HOME, FirstDateCreated=2009-07-31, LastDateUpdated=2017-11-30, NumberOfSources=3, ContactSources={ContactSourceRecord=[{SubscriberCode=55, SubscriberName=ABSA HOME LOANS, FirstDateCreated=2010-09-30, LastDateUpdated=2017-11-30}, {SubscriberName=PLUM, FirstDateCreated=2011-09-05, LastDateUpdated=2011-09-05}, {SubscriberCode=0, SubscriberName=COMPUSCAN HQ, FirstDateCreated=2009-07-31, LastDateUpdated=2009-07-31}]}}]}}}'
      x-stoplight:
        id: gd3l1aetxu775
  /pbverify-kyc:
    post:
      tags:
        - Know Your Customer (KYC)
      summary: Match Customer Against Bureau
      description: 'This API call gives businesses that are required to FICA their customers, the ability to digitally compare inputted ID and Address data against the SACRRA (South African Credit Risk Reporting Association) database, using a rule set of match criteria to match against the member''s database. The API will also display the names of the SACRRA member where that address appears. If the address does not appear according to the match criteria KYC will fail using an exception rule. Please see Extended Documetation for further detailed explanations of how to use this service.'
      operationId: kyc
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[enquiryReason]'
                - 'consumer_details[firstname]'
                - 'consumer_details[idNumber]'
                - 'consumer_details[surname]'
                - 'consumer_details[yourReference]'
                - 'match_criteria[city]'
                - 'match_criteria[dateRange]'
                - 'match_criteria[minimumMatch]'
                - 'match_criteria[pocode]'
                - 'match_criteria[province]'
                - 'match_criteria[street]'
                - 'match_criteria[suburb]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 digit ID Number
                'consumer_details[firstname]':
                  type: string
                  description: Consumers First names for comparison against Home Affairs Database
                'consumer_details[secondname]':
                  type: string
                  description: Consumers Second names for comparison against Home Affairs Database
                'consumer_details[surname]':
                  type: string
                  description: Consumers Surname for comparison against Home Affairs Database
                'consumer_details[enquiryReason]':
                  type: string
                  description: FICA | Tracing | Credit Assessment
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
                'match_criteria[street]':
                  type: string
                  description: Consumers Street address
                'match_criteria[suburb]':
                  type: string
                  description: Consumers Suburb
                'match_criteria[city]':
                  type: string
                  description: Consumers City
                'match_criteria[province]':
                  type: string
                  description: Consumers Province
                'match_criteria[pocode]':
                  type: string
                  description: Comsumers Postal Code
                'match_criteria[dateRange]':
                  type: string
                  description: 'the period of time in months you wish to look back from current date : 3 | 6 | 9 | 12 | 18 | 36'
                'match_criteria[minimumMatch]':
                  type: string
                  description: The amount of times you wish the inputted address to match against the SACRA database addresses
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, KYC_Response={ConsumerDetail={DisplayText=Consumer Detail, Initials=J, FirstName=JUST, Surname=GOOFY, IDNo=7905015389079}, SuccessfulAddressMatches=[{Address=TRICELIA ST 18 WEST ACRES NELSPRUIT 1201, SubscriberName=Telkom, LastUpdatedDate=2017-05-25}, {Address=TRICELIA ST 18 WEST ACRES NELSPRUIT 1201, SubscriberName=Telkom, LastUpdatedDate=2017-05-25}], MinimumMatchCriteria={matchDateRange=12 months, matchFound=2, matchRequested=2, matchSuccessful=Yes}}}'
      x-stoplight:
        id: 457f02k1yud4s
  /pbverify-address-sacrra:
    post:
      tags:
        - Know Your Customer (KYC)
      summary: Addresses from SACRRA
      description: This API service provides an efficient and fast way to retrieve last updated address from SACRRA members.
      operationId: addressSaccra
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[idNumber]'
                - 'consumer_details[lastname]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 Digit ID Number
                'consumer_details[lastname]':
                  type: string
                  description: Lastname of Consumer
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, SACRRA_Response={ConsumerDetail={DisplayText=Consumer Detail, Initials=P, FirstName=JUST, SecondName=[], Surname=GOOFY, IDNo=7905014568789, Gender=Male, CellularNo=0821111111}, AddressHistory=[{Address=PO BOX 4652 WildHills 1200, SubscriberName=Std Bank Home Loans, LastUpdatedDate=2019-07-08}, {Address=13 Lost Forest ST WildHills 1201, SubscriberName=Std Bank Home Loans, LastUpdatedDate=2019-07-08}, {Address=5 SKALIE STREET GUATENG 1201, SubscriberName=Hollard Short Term Insurance, LastUpdatedDate=2019-06-26}, {Address=18 HappyHollows ST WildHills 1201, SubscriberName=Telkom NGN, LastUpdatedDate=2019-07-09}, {Address=18 HappyHollows ST WildHills 1201, SubscriberName=Telkom NGN, LastUpdatedDate=2019-07-09}]}}'
      x-stoplight:
        id: r8kgabcbfn0si
  /pbverify-express-score:
    post:
      tags:
        - Express Credit Score
      summary: Express Score
      description: 'This service that enables businesses to draw an express credit report in seconds, at less than half the cost of the full report. Please see Extended Documetation for further detailed explanations of how to use this service.'
      operationId: expressScore
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - 'consumer_details[idNumber]'
                - 'consumer_details[searchReason]'
                - 'consumer_details[yourReference]'
                - memberkey
                - password
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                'consumer_details[idNumber]':
                  type: string
                  description: Consumers 13 Digit ID Number
                'consumer_details[yourReference]':
                  type: string
                  description: Your Search Reference - Internal use
                'consumer_details[searchReason]':
                  type: string
                  description: 'Choose one of the following reasons ( ''Credit Limit'', ''Score Development'', ''Affordability Assessment'', ''Credit Assessment'', ''Account Management'', ''Consumer Enquiry'')'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{idNumber=79084578946513, results=[{resultType=NLR, score=639, reasons=[{reasonCode=NA52, reasonDescription=NA52-No Revolving Accounts Held}, {reasonCode=NA22, reasonDescription=NA22-Too few Mature CPA Accounts with Good Payment History}]}, {resultType=CPA, score=652, reasons=[{reasonCode=CA35, reasonDescription=CA35-High Utilisation on All Accounts}, {reasonCode=CA52, reasonDescription=CA52-No Revolving Accounts Held}]}]}'
      x-stoplight:
        id: bk6ejkmb0c2eu
  /pbverify-affordability-assessment:
    post:
      tags:
        - Affordability
      summary: Affordability Assessment
      description: 'Our Affordability Assessment Service uses a consumer’s income (gross and/or net), calculates their necessary expenses (the minimum living expenses as required in terms of regulations), then it evaluates the consumer’s total monthly debt repayment obligations and returns the consumer’s available income (discretionary income). This will indicate the consumer’s ability to fund the proposed credit instalment in terms of a new credit agreement.'
      operationId: affordabilityAssessment
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - grossIncomeAmount
                - idNumber
                - livingExpenses
                - memberkey
                - name
                - netIncomeAmount
                - password
                - surname
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                idNumber:
                  type: string
                  description: Consumers 13 Digit ID Number
                name:
                  type: string
                  description: First name of consumer
                surname:
                  type: string
                  description: Surname of consumer
                grossIncomeAmount:
                  type: number
                  description: Consumer’s Gross monthly income amount (as a whole rand value)
                netIncomeAmount:
                  type: number
                  description: Consumer’s Net monthly income amount (as a whole rand value)
                livingExpenses:
                  type: number
                  description: Consumer’s declared monthly living expenses (as a whole rand value excluding bureau expenses)
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, Result={ID_NUMBER=8310241111111, NAME=John, SURNAME=Doe, EXPENSES=15000, Gross_Income_Amount=30000, Cal_Gross_Income_Amount=30000, Net_Income_Amount=24500, Cal_Net_Income_Amount=24297, GMIP_Value=0, GMIP_Confidence_Level=NOT APPLICABLE, GMIP_Band=UNABLE TO DETERMINE GMIP, Bureau_Expenses=0, Calc_Living_Expenses=15000, Calc_Expense=15000.00, Disposable_Income=9297.00, Enq_id=1356856}}'
      x-stoplight:
        id: gy6kwzsgch5y2
  /datanamix-consumer-credit:
    post:
      tags:
        - Consumer Credit Reports
      summary: Datanamix Consumer Report
      description: Datanamix Consumer Credit Report
      operationId: datanamixConsumerCredit
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
                - enquiryReason
                - firstName
                - idNumber
                - lastName
                - memberkey
                - password
                - reference
              type: object
              properties:
                memberkey:
                  type: string
                  description: Datanamix given memberkey
                password:
                  type: string
                  description: API Password Key
                  format: password
                idNumber:
                  type: string
                  description: 13-digit South African ID Number/Passport Number
                isPassport:
                  type: boolean
                  description: Indicate whether the idNumber input is a passport number
                  default: false
                  enum:
                    - false
                    - true
                firstName:
                  type: string
                  description: Legal firstname of the consumer
                lastName:
                  type: string
                  description: Legal lastname name of the consumer
                enquiryReason:
                  type: integer
                  description: The reason for performing the credit check. 1 - Credit Application; 2 - Credit Limit; 3 - Insurance Application; 4 - Insurance Claim; 5 - Employment Check
                  format: int32
                  enum:
                    - '1'
                    - '2'
                    - '3'
                    - '4'
                    - '5'
                reference:
                  type: string
                  description: Your search reference
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                example: '{Status=Success, Result={ConsumerDirectorSummary={DisplayText=Consumer Director Summary, NumberOfCompanyDirector=0}, ConsumerEnquiryHistory=[{DisplayText=Consumer Enquiry History, EnquiryDate=2022-12-02, SubscriberName=uat, SubscriberBusinessTypeDesc=Other, CreditGrantorEnquiryReasonDesc=CreditAssesment, SubscriberContact=0000000000}, {DisplayText=Consumer Enquiry History, EnquiryDate=2022-07-27, SubscriberName=Africa, SubscriberBusinessTypeDesc=Other, CreditGrantorEnquiryReasonDesc=Reckless Lending, SubscriberContact=0873302434}], ConsumerAddressHistory=[{DisplayText=Consumer Address History, ConsumerAddressID=821537659, AddressType=Residential, AddressTypeInd=R, Address1=1 TELESURE LANE, Address2=[], Address3=MOSSELBAAI, Address4=MOSSEL BAY, PostalCode=6506, Address=1 TELESURE LANE MOSSELBAAI MOSSEL BAY 6506, LastUpdatedDate=2022-05-05, FirstReportedDate=2022-05-05}, {DisplayText=Consumer Address History, ConsumerAddressID=815677457, AddressType=Residential, AddressTypeInd=R, Address1=1 TELESURE LANE, Address2=[], Address3=RIVERGLEN, Address4=FOURWAYS, PostalCode=2191, Address=1 TELESURE LANE RIVERGLEN FOURWAYS 2191, LastUpdatedDate=2022-02-03, FirstReportedDate=2021-05-11}], ConsumerDetail={DisplayText=Consumer Detail, ConsumerID=159779707, Initials=T, FirstName=T, SecondName=[], ThirdName=[], Surname=CTEST, MaidenName=[], IDNo=6210276940086, PassportNo=[], BirthDate=1962-10-27, Gender=Male, TitleDesc=Mister, MaritalStatusDesc=Unknown, PrivacyStatus=ACCEPTS CONTACTS, ResidentialAddress=1 TELESURE LANE MOSSELBAAI MOSSEL BAY 6506, PostalAddress=[], HomeTelephoneNo=[], WorkTelephoneNo=[], CellularNo=[], EmailAddress=[], EmployerDetail=[], ReferenceNo=C57890265-159779707, ExternalReference=TEST, SpouseFirstName=[], SpouseSurName=[]}, ConsumerFraudIndicatorsSummary={DisplayText=Consumer Fraud Indicators Summary, SAFPSListingYN=No access - SAFPS Members only, HomeAffairsVerificationYN=No, HomeAffairsDeceasedStatus=Unknown, EmployerFraudVerificationYN=[], ProtectiveVerificationYN=[], HomeAffairsDeceasedDate=[]}, ConsumerScoring={DisplayText=Consumer Scoring, SubscriberID=12371, Unique_Identifier=159779707, ScoreDate=2023-01-31, FinalScore=630.0000, Exception_Code=[], ReasonCode1=NUMBER OF LONG TERM CREDIT ACCOUNTS, ReasonCode2=NUMBER OF BANKING ACCOUNTS, ReasonCode3=NUMBER OF REVOLVING CREDIT ACCOUNTS, ModelID=Model DELINQUENT, classification=Classification: Low Rating, Description=Consumer has LOW probability of collection, RiskCategory=Potential High Risk}, ConsumerPropertyInformationSummary={DisplayText=Consumer Property Information Summary, TotalProperty=0, PurchasePrice=0.0000}, AccountTypeLegend=[{DisplayText=AccountType Legend, AccountTypeCode=B, AccountTypeDesc=Building Loan}, {DisplayText=AccountType Legend, AccountTypeCode=C, AccountTypeDesc=Credit Card}, {DisplayText=AccountType Legend, AccountTypeCode=D, AccountTypeDesc=Debt Recovery}, {DisplayText=AccountType Legend, AccountTypeCode=E, AccountTypeDesc=Single Credit Facility}, {DisplayText=AccountType Legend, AccountTypeCode=F, AccountTypeDesc=Open Account}, {DisplayText=AccountType Legend, AccountTypeCode=G, AccountTypeDesc=Garage Card}, {DisplayText=AccountType Legend, AccountTypeCode=H, AccountTypeDesc=Home Loan}, {DisplayText=AccountType Legend, AccountTypeCode=I, AccountTypeDesc=Instalment Account}, {DisplayText=AccountType Legend, AccountTypeCode=J, AccountTypeDesc=Unsecured Revolving Loan}, {DisplayText=AccountType Legend, AccountTypeCode=K, AccountTypeDesc=Unsecured Term Loan}, {DisplayText=AccountType Legend, AccountTypeCode=L, AccountTypeDesc=Life Insurance}, {DisplayText=AccountType Legend, AccountTypeCode=N, AccountTypeDesc=Pension Backed Lending}, {DisplayText=AccountType Legend, AccountTypeCode=O, AccountTypeDesc=Open Account}, {DisplayText=AccountType Legend, AccountTypeCode=P, AccountTypeDesc=Personal Cash Loan}, {DisplayText=AccountType Legend, AccountTypeCode=R, AccountTypeDesc=Revolving Credit}, {DisplayText=AccountType Legend, AccountTypeCode=S, AccountTypeDesc=Short Term Insurance}, {DisplayText=AccountType Legend, AccountTypeCode=T, AccountTypeDesc=Student Loans}, {DisplayText=AccountType Legend, AccountTypeCode=U, AccountTypeDesc=Utility}, {DisplayText=AccountType Legend, AccountTypeCode=V, AccountTypeDesc=Overdraft}], ConsumerAccountStatus=[{DisplayText=Consumer Account Status, ConsumerAccountID=358453508, SubscriberID=17, AccountNo=778681323, SubAccountNo=[], AccountOpenedDate=2022-03-15, SubscriberName=Telesure Investment, CreditLimitAmt=0.0000, CurrentBalanceAmt=0.0000, MonthlyInstalmentAmt=0.0000, ArrearsAmt=0.0000, ArrearsTypeInd=[], AccountType=S, LastPaymentDate=2022-03-16, StatusCodeDesc=Closed, DeferredPaymentDate=[], ThirdPartyName=[], NoOfParticipantsInJointLoan=0}, {DisplayText=Consumer Account Status, ConsumerAccountID=358454141, SubscriberID=17, AccountNo=829627239, SubAccountNo=[], AccountOpenedDate=2022-03-03, SubscriberName=Telesure Investment, CreditLimitAmt=0.0000, CurrentBalanceAmt=0.0000, MonthlyInstalmentAmt=0.0000, ArrearsAmt=0.0000, ArrearsTypeInd=[], AccountType=S, LastPaymentDate=2022-03-04, StatusCodeDesc=Closed, DeferredPaymentDate=[], ThirdPartyName=[], NoOfParticipantsInJointLoan=0}, {DisplayText=Consumer Account Status, ConsumerAccountID=348298488, SubscriberID=17, AccountNo=557905741, SubAccountNo=[], AccountOpenedDate=2021-09-15, SubscriberName=Telesure Investment, CreditLimitAmt=0.0000, CurrentBalanceAmt=0.0000, MonthlyInstalmentAmt=0.0000, ArrearsAmt=0.0000, ArrearsTypeInd=[], AccountType=S, LastPaymentDate=2021-09-20, StatusCodeDesc=Closed, DeferredPaymentDate=[], ThirdPartyName=[], NoOfParticipantsInJointLoan=0}, {DisplayText=Consumer Account Status, ConsumerAccountID=348304190, SubscriberID=17, AccountNo=888117641, SubAccountNo=[], AccountOpenedDate=2021-09-15, SubscriberName=Telesure Investment, CreditLimitAmt=0.0000, CurrentBalanceAmt=0.0000, MonthlyInstalmentAmt=0.0000, ArrearsAmt=0.0000, ArrearsTypeInd=[], AccountType=S, LastPaymentDate=2021-09-20, StatusCodeDesc=Closed, DeferredPaymentDate=[], ThirdPartyName=[], NoOfParticipantsInJointLoan=0}, {DisplayText=Consumer Account Status, ConsumerAccountID=348309293, SubscriberID=17, AccountNo=952140387, SubAccountNo=[], AccountOpenedDate=2021-09-15, SubscriberName=Telesure Investment, CreditLimitAmt=0.0000, CurrentBalanceAmt=0.0000, MonthlyInstalmentAmt=0.0000, ArrearsAmt=0.0000, ArrearsTypeInd=[], AccountType=S, LastPaymentDate=2021-09-20, StatusCodeDesc=Closed, DeferredPaymentDate=[], ThirdPartyName=[], NoOfParticipantsInJointLoan=0}, {DisplayText=Consumer Account Status, ConsumerAccountID=348307687, SubscriberID=17, AccountNo=952140388, SubAccountNo=[], AccountOpenedDate=2021-09-15, SubscriberName=Telesure Investment, CreditLimitAmt=0.0000, CurrentBalanceAmt=0.0000, MonthlyInstalmentAmt=0.0000, ArrearsAmt=0.0000, ArrearsTypeInd=[], AccountType=S, LastPaymentDate=2021-09-20, StatusCodeDesc=Closed, DeferredPaymentDate=[], ThirdPartyName=[], NoOfParticipantsInJointLoan=0}, {DisplayText=Consumer Account Status, ConsumerAccountID=342143920, SubscriberID=17, AccountNo=778574651, SubAccountNo=[], AccountOpenedDate=2021-05-11, SubscriberName=Telesure Investment, CreditLimitAmt=0.0000, CurrentBalanceAmt=0.0000, MonthlyInstalmentAmt=0.0000, ArrearsAmt=0.0000, ArrearsTypeInd=[], AccountType=S, LastPaymentDate=2021-05-13, StatusCodeDesc=Closed, DeferredPaymentDate=[], ThirdPartyName=[], NoOfParticipantsInJointLoan=0}], Consumer24MonthlyPaymentHeader={DisplayText=Consumer 24 Monthly Payment Header, Company=Company, M24=FEB 2021, M23=MAR 2021, M22=APR 2021, M21=MAY 2021, M20=JUN 2021, M19=JUL 2021, M18=AUG 2021, M17=SEP 2021, M16=OCT 2021, M15=NOV 2021, M14=DEC 2021, M13=JAN 2022, M12=FEB 2022, M11=MAR 2022, M10=APR 2022, M09=MAY 2022, M08=JUN 2022, M07=JUL 2022, M06=AUG 2022, M05=SEP 2022, M04=OCT 2022, M03=NOV 2022, M02=DEC 2022, M01=JAN 2023}, Consumer24MonthlyPayment=[{DisplayText=Consumer 24 Monthly Payment, AccountOpenedDate=2022-03-15T00:00:00+02:00, SubscriberName=Telesure Investment, AccountNo=778681323, SubAccountNo=[], M24=#, M23=#, M22=#, M21=#, M20=#, M19=#, M18=#, M17=#, M16=#, M15=#, M14=#, M13=#, M12=#, M11=#, M10=G, M09=#, M08=#, M07=#, M06=#, M05=#, M04=#, M03=#, M02=#, M01=#}, {DisplayText=Consumer 24 Monthly Payment, AccountOpenedDate=2022-03-03T00:00:00+02:00, SubscriberName=Telesure Investment, AccountNo=829627239, SubAccountNo=[], M24=#, M23=#, M22=#, M21=#, M20=#, M19=#, M18=#, M17=#, M16=#, M15=#, M14=#, M13=#, M12=#, M11=#, M10=G, M09=#, M08=#, M07=#, M06=#, M05=#, M04=#, M03=#, M02=#, M01=#}, {DisplayText=Consumer 24 Monthly Payment, AccountOpenedDate=2021-09-15T00:00:00+02:00, SubscriberName=Telesure Investment, AccountNo=557905741, SubAccountNo=[], M24=#, M23=#, M22=#, M21=#, M20=#, M19=#, M18=#, M17=#, M16=G, M15=#, M14=#, M13=#, M12=#, M11=#, M10=#, M09=#, M08=#, M07=#, M06=#, M05=#, M04=#, M03=#, M02=#, M01=#}, {DisplayText=Consumer 24 Monthly Payment, AccountOpenedDate=2021-09-15T00:00:00+02:00, SubscriberName=Telesure Investment, AccountNo=888117641, SubAccountNo=[], M24=#, M23=#, M22=#, M21=#, M20=#, M19=#, M18=#, M17=#, M16=G, M15=#, M14=#, M13=#, M12=#, M11=#, M10=#, M09=#, M08=#, M07=#, M06=#, M05=#, M04=#, M03=#, M02=#, M01=#}, {DisplayText=Consumer 24 Monthly Payment, AccountOpenedDate=2021-09-15T00:00:00+02:00, SubscriberName=Telesure Investment, AccountNo=952140387, SubAccountNo=[], M24=#, M23=#, M22=#, M21=#, M20=#, M19=#, M18=#, M17=#, M16=G, M15=#, M14=#, M13=#, M12=#, M11=#, M10=#, M09=#, M08=#, M07=#, M06=#, M05=#, M04=#, M03=#, M02=#, M01=#}, {DisplayText=Consumer 24 Monthly Payment, AccountOpenedDate=2021-09-15T00:00:00+02:00, SubscriberName=Telesure Investment, AccountNo=952140388, SubAccountNo=[], M24=#, M23=#, M22=#, M21=#, M20=#, M19=#, M18=#, M17=#, M16=G, M15=#, M14=#, M13=#, M12=#, M11=#, M10=#, M09=#, M08=#, M07=#, M06=#, M05=#, M04=#, M03=#, M02=#, M01=#}, {DisplayText=Consumer 24 Monthly Payment, AccountOpenedDate=2021-05-11T00:00:00+02:00, SubscriberName=Telesure Investment, AccountNo=778574651, SubAccountNo=[], M24=#, M23=#, M22=#, M21=#, M20=G, M19=#, M18=#, M17=#, M16=#, M15=#, M14=#, M13=#, M12=#, M11=#, M10=#, M09=#, M08=#, M07=#, M06=#, M05=#, M04=#, M03=#, M02=#, M01=#}], ConsumerDefinition=[{DisplayText=Consumer Definition, DefinitionCode=#, DefinitionDesc=No data found}, {DisplayText=Consumer Definition, DefinitionCode=*, DefinitionDesc=Repeat of previous month''s Status Code}, {DisplayText=Consumer Definition, DefinitionCode=0, DefinitionDesc=Not in arrears}, {DisplayText=Consumer Definition, DefinitionCode=1-9, DefinitionDesc=No of months in arrears}, {DisplayText=Consumer Definition, DefinitionCode=G, DefinitionDesc=Cancelled by consumer}, {DisplayText=Consumer Definition, DefinitionCode=P, DefinitionDesc=Paid Up}], ConsumerCPANLRDebtSummary={DisplayText=Consumer CPANLR Debt Summary, TotalMonthlyInstallmentCPA=0.0000, TotalOutStandingDebtCPA=0.0000, NoOFActiveAccountsCPA=0, NoOfAccountInGoodStandingCPA=0, NoOfAccountInBadStandingCPA=0, TotalArrearAmountCPA=0.0000, TotalAdverseAmountCPA=0.0000, NoOfAccountsOpenedinLast45DaysCPA=0, NoOfPaidUpOrClosedAccountsCPA=7, NoOfEnquiriesLast90DaysOWNCPA=0, NoOfEnquiriesLast90DaysOTHCPA=0, HighestMonthsinArrearsCPA=0, TotalMonthlyInstallmentNLR=0.0000, TotalOutStandingDebtNLR=0.0000, NoOFActiveAccountsNLR=0, NoOfAccountInGoodStandingNLR=0, NoOfAccountInBadStandingNLR=0, TotalArrearAmountNLR=0.0000, TotalAdverseAmountNLR=0.0000, NoOfAccountsOpenedinLast45DaysNLR=0, NoOfPaidUpOrClosedAccountsNLR=0, NoOfEnquiriesLast90DaysOWNNLR=0, NoOfEnquiriesLast90DaysOTHNLR=0, HighestMonthsinArrearsNLR=0, TotalMonthlyInstallment=0.0000, TotalOutStandingDebt=0.0000, NoOFActiveAccounts=0, NoOfAccountInGoodStanding=0, NoOfAccountInBadStanding=0,
[...]
